{% extends 'base.html' %}

{% block title %}
Gear Analysis
{% endblock %}

{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!-- PhotoSwipe CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css">
{% endblock %}

{% block body %}
<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">Industrial Image Detection</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prediction">Prediction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/datafylt/projet_synthese_2">source code</a>
            </li>
        </ul>
    </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 30px;">
    <div class="carousel-inner" style="margin-top: 80px;">
        <!-- First item (active) -->
        <!-- First item (active) -->
        <div class="carousel-item active">
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-items-center w-100">
                    <div class="col-md">
                        <!-- Image Content -->
                        <img src="{{ url_for('static', filename='images/slide1.png') }}" alt="Image Description"
                             style="max-width: 50%; margin: 0 auto; display: block;">
                    </div>
                </div>
            </div>
        </div>

        <!-- Second item -->
        <div class="carousel-item">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md">
                        <!-- Image Content -->
                        <img src="{{ url_for('static', filename='images/slide2.png') }}" alt="Image Description">
                    </div>
                </div>
            </div>
        </div>
        <!-- Second item -->
        <div class="carousel-item">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md">
                        <!-- Image Content -->
                        <img src="{{ url_for('static', filename='images/slide3.png') }}" alt="Image Description" style="max-width: 50%;">
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeat for other carousel items, following the same pattern -->
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
        <span style="color: black; font-size: 20px;">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="sr-only">Next</span>
        <span style="color: black; font-size: 20px;">Next</span>
    </a>


</div>


<div class="container mt-5">
    <!-- Row for Sections 2 and 3 -->
    <div class="row">
        <!-- Section 2 -->
        <div class="col-md-6">
            <h2>Manufacturing Precision Focus</h2>
            <p>In manufacturing, we target error reduction through budgeted quality assurance and critical process
                reviews. Our tool addresses industry-wide challenges of manual inspection, evaluating the feasibility of
                automating the process via machine learning in casting manufacturing. The curated dataset, featuring
                labeled impeller images captured under controlled lighting, grounds our exploration of achieving
                precision in manufacturing.</p>
        </div>

        <!-- Section 3 -->
        <div class="col-md-6">
            <h2>Casting Inspection Objectivity</h2>
            <p>Objectively automating casting inspections, we leverage machine learning to overcome challenges in manual
                methods. The curated dataset, with labeled impeller images captured under controlled lighting, signifies
                the commitment to reliability and stability in achieving precision in manufacturing.</p>
        </div>
    </div>
</div>

<!-- Logos Section -->
<div class="container mt-3">
    <div class="row">
        <!-- Logo 1 -->
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/dvc.jpg') }}" alt="Logo 1" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/flask.png') }}" alt="Logo 2" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/gitbash.png') }}" alt="Logo 3" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/github.png') }}" alt="Logo 4" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/google cloud.png') }}" alt="Logo 5" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/google drive.png') }}" alt="Logo 6" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/heroku.png') }}" alt="Logo 7" class="img-fluid">
        </div>
        <!-- Repeat for each logo -->
        <!-- ... -->
    </div>
    <div class="row">
        <!-- Second row of logos -->
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/jira.png') }}" alt="Logo 1" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/jupyter.png') }}" alt="Logo 2" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/mflow.png') }}" alt="Logo 3" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/pycharm.jpg') }}" alt="Logo 4" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/render.JPG') }}" alt="Logo 5" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/sourcetree.png') }}" alt="Logo 6" class="img-fluid">
        </div>
        <div class="col text-center logo-container">
            <img src="{{ url_for('static', filename='images/vscode.jpg') }}" alt="Logo 7" class="img-fluid">
        </div>
    </div>
</div>

<!-- nav bar ends -->


{% endblock %}